TZ=Europe/Paris
PGTZ=Europe/Paris

POSTGRES_HOST=postgres-node-red
POSTGRES_USER=admin
POSTGRES_PORT=5432
POSTGRES_SSL=false
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=humidateur_db


MQTT_HOST=192.168.1.129
MQTT_PORT=1883
MQTT_WS_PORT=9001

JWT_SECRET=QWERTYUIOPASDFGHJKLZXCVBNM1234567890abcdefABCDEFGH
API_USERNAME=admin
API_PASSWORD=admin