TZ=Europe/Paris
PGTZ=Europe/Paris

POSTGRES_HOST=postgres-node-red
POSTGRES_USER=admin
POSTGRES_PORT=5432
POSTGRES_SSL=false
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=humidateur_db

MQTT_HOST=192.168.1.129
MQTT_PORT=1883
MQTT_WS_PORT=9001

JWT_SECRET=QWERTYUIOPASDFGHJKLZXCVBNM1234567890abcdefABCDEFGH
API_USERNAME=admin
API_PASSWORD=admin

ENDPOINT_CENTER=host.docker.internal:8081
ENDPOINT_TOKEN=CEXSK2cg5ByV3fLJ3Wd6youWiIER2wBdVlhKiVzCy1V4hlpTiCmZhmmhx3k4U0R8XuiS5ze3vkclPZdlr2mhC1FAQFwQ4jt44WL4UXibAKPBlCGAFWKekTQt4xTQWJEV

EMAIL_SENDER=admin@center.com
SMTP_HOST=host.docker.internal
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_SECURE=false